@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-color: rgb(255, 255, 255);
}

body {
    background-color: #000;
}

.main {
    background-image: url(../images/bc-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white-color);
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
}


.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    line-height: normal;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}


.separation {
    height: 7px;
    background-color: rgb(46, 46, 46);
    color: #fff;
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color: #fff;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: #fff;
    font-weight: 400;
    padding: 3px 24px;
    font-size: 23px;
    border-radius: 4px;

}

.btn-red-sm {
    color: #fff;
    background-color: red;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: #fff;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: #fff;
}


.secimg {
    position: relative;
}

.secimg img {
    width: 400px;
    position: relative;
    z-index: 10;

}

.secimg video {
    position: absolute;
    top: 90px;
    left: -20px;
    width: 440px;
    height: 177px;
}


section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-weight: 700;
    font-size: 48px;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.faq {
    background-color: #000;
    color: #fff;
}

.faq h2 {
    text-align: center;
    padding: 34px;
    font-weight: 900;
    font-size: 48px;
}

.faqbox:hover {
    color: #fff;
    background-color: #414141;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    color: #fff;
    padding: 24px;
    max-width: 70vw;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 36px auto;
}

.btns h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px;
}

.hero-buttons input {
    padding: 7px 101px 8px 14px;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: #fff;
}

footer {
    color: #fff;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

footer Questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #fff;
}

.footer a {
    font-size: 14px;
    color: #fff;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: #fff;
        grid-area: 25px;
    }

    .first {
        flex-wrap: wrap;
    }

    .hero> :nth-child(1) {
        font-weight: 600;
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-weight: 200;
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-weight: 200;
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 36px;
    }

    .faq h2 {
        text-align: center;
        padding: 20px;
        font-weight: 600;
        font-size: 32px;
    }

    footer{
        max-width: 90vw;
    }

    .main{
        height: 80vh;
    }

    .footer-items{
        align-items: center;
    }

    .netflix-main{
        align-items: center;
    }

}